/*** site.css ***/

/** flex classes: **/

.row,
.row_wrap,
.column,
.column_wrap {
  display: flex;
  flex: 1 1 auto;
}

.row {
  flex-flow: row nowrap;
}

.row_wrap {
  flex-flow: row wrap;
}

.column {
  flex-flow: column nowrap;
}

.column_wrap {
  flex-flow: column wrap;
}

.flex_center {
  justify-content: center;
}

.flex_start {
  justify-content: flex-start;
}

.flex_end {
  justify-content: flex-end;
}

.flex_justify {
  justify-content: space-around;
}

.flex_grow {
  flex: 1 1 auto;
}

.flex_no_grow {
  flex: 0 1 auto;
}

/** body: **/

body {
  background-color: #484848;
  margin: 0;
  padding: 0;
}

/** container: **/

.container_col {
  min-height: 100vh;
  max-width: 1800px;
  margin: auto;
  background-color: #ffffff;
  padding: 1.5em;
}

/** plots: **/

.plot_div {
  min-height: 90vh;
  margin: 1em;
}

.leaflet-container .leaflet-control-mouseposition {
  min-width: 11em;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin:0;
  color: #333;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
